* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fddde6;
    padding: 20px;
}

#display {
    width: 100%;
    height: 60px;
    background: #333;
    color: white;
    text-align: right;
    font-size: 2em;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f4a7b9;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f78ca4;
}

button.zero {
    grid-column: span 2;
}
